---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for publication in site.data.cv.publications %}
  <div class="archive__item">
    <div class="archive__item-title">
      <h3 class="archive__item-title">{{ publication.name }}</h3>
    </div>
    <div class="archive__item-excerpt">
      <p><strong>{{ publication.publisher }}</strong>, {{ publication.releaseDate | date: "%B %Y" }}</p>
      {% if publication.summary %}
        <p>{{ publication.summary }}</p>
      {% endif %}
      {% if publication.website %}
        <p><a href="{{ publication.website }}" target="_blank">[Link]</a></p>
      {% endif %}
    </div>
  </div>
{% endfor %}



